<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
				<nav class="navbar navbar-expand-lg navbar-dark bg">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item pl-1">
							<a class="btn btn-success" routerLink="/payment-details">Payeur</a>
						</li>
						<li class="nav-item pl-1">
							<a class="btn btn-success" routerLink="/comptes">Comptes</a>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item pl-1">
							<button class="btn btn-light">{{ connectedUser.fullName }}</button>
						</li>	
						<li class="nav-item pl-1">
							<button (click)="logout()" class="btn btn-danger fa fa-power-off"></button>
						</li>				
					</ul>
				</nav>
			</div>
			<!-- /Header -->
			
		<style type="text/css">
			.card{
				cursor: pointer;
			}
		</style>
			
			<!-- Page Wrapper -->
            <div class="">
			
                <div class="content container-fluid">
					<div class="row">
						
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card text-center" routerLink="/rec-caisse">
								<div class="card-body">
									<div class="dash-widget-info">
										<img src="/assets/img/1.png" class="mx-auto d-block">
										<h3 class="text-muted">REC CAISSE</h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card text-center" routerLink="/dep-caisse">
								<div class="card-body">
									<div class="dash-widget-info">
										<img src="/assets/img/1.png" class="mx-auto d-block">
										<h3 class="text-muted">DEP CAISSE</h3>										
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card text-center" routerLink="/rec-bancaire">
								<div class="card-body">
									<div class="dash-widget-info">
										<img src="/assets/img/2.png" class="mx-auto d-block">
										<h3 class="text-muted">REC BANCAIRE</h3>										
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card text-center" routerLink="/dep-bancaire">
								<div class="card-body">
									<div class="dash-widget-info">
										<img src="/assets/img/2.png" class="mx-auto d-block">
										<h3 class="text-muted">DEP BANCAIRE</h3>										
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card text-center" routerLink="/OD">
								<div class="card-body">
									<div class="dash-widget-info">
										<img src="/assets/img/3.png" class="mx-auto d-block">
										<h3 class="text-muted">OD</h3>										
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card text-center" routerLink="/General">
								<div class="card-body">
									<div class="dash-widget-info">
										<img src="/assets/img/4.png" class="mx-auto d-block">
										<h3 class="text-muted">GENERAL</h3>										
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card text-center" routerLink="/recettes">
								<div class="card-body">
									<div class="dash-widget-info">
										<img src="/assets/img/8.png" class="mx-auto d-block">
										<h3 class="text-muted">RECETTES</h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card text-center" routerLink="/depences">
								<div class="card-body">
									<div class="dash-widget-info">
										<img src="/assets/img/7.png" class="mx-auto d-block">
										<h3 class="text-muted">DEPENCES</h3>										
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card text-center" routerLink="/MVT">
								<div class="card-body">
									<div class="dash-widget-info">
										<img src="/assets/img/6.png" class="mx-auto d-block">
										<h3 class="text-muted">MVT</h3>										
									</div>
								</div>
							</div>
						</div>

						
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
        </div>
		<!-- /Main Wrapper -->